
/*Importamos la tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/*Aplicado a todo las pantallas*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Diseño del cuerpo completo*/
body{
    background-color: hsl(212, 45%, 89%);   
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    flex-direction: column;
}

/*Diseño de la tarjeta*/
.decoration{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    max-width: 290px;
    padding: 16px 16px 24px 16px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.1);
}

/*Modificacion de la imagen*/
.decoration img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 18px;
}
/*Tamaño, color, margen y anchura del h1*/

.decoration h1{
    font-size: 1.25rem;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
    font-weight: 700;
}
/*Tamaño, color y anchura del parrafo*/
.decoration p{
    font-size: 0.94rem;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    line-height: 1.4;
}

/*Footer */

.attribution{
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
    
}

.attribution a{
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    margin-left: 3px;
    
}

/*Media queries celulares*/

@media (max-width: 375px) {
    .decoration{
        padding: 14px 12px 20px 12px;
    }
    
    .decoration h1{
        font-size: 1.1rem;
    }
    .decoration p{
        font-size: 0.9rem;
    }
}

/*Diseño*/
.attribution a:hover,
.attribution a:focus {
  text-decoration: underline;
  color: hsl(228, 45%, 60%);
}

/*Media queries pantalla completa*/
@media (min-width: 1024px){
    .decoration{
        padding: 20px 20px 28px 20px;
    }

    .decoration h1{
        font-size: 1.35rem;
    }

    .decoration p{  
        font-size: 1rem;
    }
}
